# Librerias

In [3]:
import pandas as pd
import numpy as np

import os

import matplotlib.pyplot as plt


from IPython.display import display
pd.options.display.float_format = '{:,.2f}'.format

# Introducción

- Dataset ecobicis CDMX
- Extracción, exploración y limpieza de datos
- Problemática: Oferta / Demanda
- ¿ dónde poner más bicis ?
- Conocer desabasto , zona
- tiempos
- genero
- tiempo de vida bicis* 
- robo bicis*

# Lectura / Extracción de datos

In [4]:
ruta = '/home/luis/Documentos/entornos/Ciencia de datos_git/limpieza_exploracion_datos/datos_eco_bici/ecobici(1)'

In [5]:
lst_nombre_archi = os.listdir(ruta)

In [6]:
lst_viajes = [nom for nom in lst_nombre_archi if nom[:2] == '20']

In [7]:
for i, archi in enumerate(lst_viajes):
    print(i)
    if i == 0:
        df = pd.read_csv( os.path.join(ruta , lst_viajes[i] ) )
    else:
        df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

0

/tmp/ipykernel_9069/3524327410.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv( os.path.join(ruta , lst_viajes[i] ) )

1

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

2
3

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

4
5
6
7

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

8

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

9
10
11

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

12
13

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

14
15
16
17
18

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

19

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

20
21

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

22

/tmp/ipykernel_9069/3524327410.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat( [df , pd.read_csv( os.path.join(ruta , lst_viajes[i] ) ) ] , ignore_index=True)

23

In [8]:
archi_estaciones = 'estaciones-de-ecobici.csv'

In [9]:
cat_estaciones = pd.read_csv( os.path.join( ruta , archi_estaciones ) )

In [10]:
cat_estaciones

,ID,Nombre,Dirección,Número,Código postal,districtCode,Colonia,altitude,nearbyStations/0,location/lat,location/lon,Tipo de estación,nearbyStations/1,nearbyStations/2,nearbyStations/3,nearbyStations/4,nearbyStations/5,punto_geo
0,416,416 RECREO-PARROQUÍA,416 - Recreo-Parroquía,S/N,"3,104.00",1,Ampliación Granada,NaN,390,19.37,-99.18,BIKE,391.00,415.00,NaN,NaN,NaN,"19.371308,-99.177607"
1,440,440 REAL DE MAYORAZGO-PUENTE XOCO,440 - Real De Mayorazgo-Puente Xoco,S/N,"3,330.00",1,Ampliación Granada,NaN,433,19.36,-99.17,BIKE,439.00,441.00,NaN,NaN,NaN,"19.36065,-99.168669"
2,70,70 PARQUE MEXICO-MICHOACAN,070 - Parque México - Michoacan,S/N,"6,100.00",1,Ampliación Granada,NaN,69,19.41,-99.17,"BIKE,TPV",71.00,76.00,NaN,NaN,NaN,"19.411272,-99.169718"
3,325,325 PROVIDENCIA -AVENIDA DEL VALLE,325 - Providencia -Avenida Del Valle,S/N,"3,100.00",1,Ampliación Granada,NaN,316,19.39,-99.17,BIKE,335.00,336.00,NaN,NaN,NaN,"19.3881779,-99.1696894"
4,252,252 VICTOR HUGO-SHAKESPEARE,252 - Víctor Hugo-Shakespeare,S/N,"11,510.00",2,Anzures,NaN,249,19.43,-99.18,BIKE,251.00,253.00,NaN,NaN,NaN,"19.427575,-99.17702"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,156,156 TEPIC-AMENALCO,156 - Tepic-Amenalco,S/N,NaN,ROM,Roma Sur,NaN,153,19.41,-99.16,BIKE,155.00,162.00,NaN,NaN,NaN,"19.407121,-99.162202"
476,162,162 TEHUANTEPEC-MEDELLÍN,162 - Tehuantepec-Medellín,S/N,NaN,ROM,Roma Sur,NaN,161,19.40,-99.16,BIKE,165.00,NaN,NaN,NaN,NaN,"19.404907,-99.162485"
477,410,410 PROLONGACIÓN TAJÍN-PROLONGACIÓN REPÚBLICAS,410 - Prolongación Tajín-Prolongación Repúblicas,S/N,"3,310.00",SCA,Santa Cruz Atoyac,NaN,407,19.37,-99.16,BIKE,408.00,409.00,NaN,NaN,NaN,"19.36564,-99.158063"
478,411,411 PARROQUIA-AVENIDA MÉXICO-COYOACAN,411 - Parroquia-Avenida México-Coyoacan,S/N,"3,310.00",SCA,Santa Cruz Atoyac,NaN,412,19.37,-99.16,BIKE,425.00,427.00,NaN,NaN,NaN,"19.367864,-99.163626"
479,380,380 MORAS-SAN LORENZO,380 - Moras-San Lorenzo,S/N,"3,200.00",TLA,Tlacoquemecatl,NaN,392,19.37,-99.17,BIKE,393.00,394.00,NaN,NaN,NaN,"19.374876,-99.173512"

# Inspección / Exploración

In [11]:
df.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Unnamed: 9
0,M,49,3307,365,01/03/2018,0:00:10,169,01/03/2018,0:13:05,NaN
1,F,29,9218,137,01/03/2018,0:00:13,308,01/03/2018,0:18:34,NaN
2,F,30,3945,54,01/03/2018,0:00:17,191,01/03/2018,0:12:13,NaN
3,M,25,9971,130,01/03/2018,0:00:47,271,01/03/2018,0:12:40,NaN
4,M,20,10551,415,01/03/2018,0:00:56,433,01/03/2018,0:05:18,NaN

In [12]:
df.shape

(17104573, 10)

In [13]:
for c in df.columns:
    print(c , df[c].map(type).unique().tolist() , "\n" )

Genero_Usuario [<class 'str'>]

Edad_Usuario [<class 'int'>]

Bici [<class 'int'>, <class 'str'>]

Ciclo_Estacion_Retiro [<class 'int'>]

Fecha_Retiro [<class 'str'>]

Hora_Retiro [<class 'str'>]

Ciclo_Estacion_Arribo [<class 'int'>, <class 'str'>]

Fecha_Arribo [<class 'str'>]

Hora_Arribo [<class 'str'>]

Unnamed: 9 [<class 'float'>, <class 'str'>]

In [14]:
df['Bici'].map(type).value_counts()

<class 'int'>    13098199
<class 'str'>     4006374
Name: Bici, dtype: int64

In [15]:
df['Bici'].map(type).value_counts(True)

<class 'int'>   0.77
<class 'str'>   0.23
Name: Bici, dtype: float64

In [16]:
df['Bici'] = df['Bici'].astype(str)

In [17]:
df = df.loc[df['Ciclo_Estacion_Arribo'] != '32:11.8'].reset_index(drop=True).copy()

In [18]:
df['Ciclo_Estacion_Arribo'] = pd.to_numeric( df['Ciclo_Estacion_Arribo'])

In [19]:
df.drop(columns={'Unnamed: 9'},inplace=True)

In [20]:
df.dtypes

Genero_Usuario           object
Edad_Usuario              int64
Bici                     object
Ciclo_Estacion_Retiro     int64
Fecha_Retiro             object
Hora_Retiro              object
Ciclo_Estacion_Arribo     int64
Fecha_Arribo             object
Hora_Arribo              object
dtype: object

In [21]:
df = df.loc[ (~df['Fecha_Retiro'].isnull() )  & (~df['Fecha_Arribo'].isnull() )].reset_index(drop=True).copy()

In [22]:
df

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo
0,M,49,3307,365,01/03/2018,0:00:10,169,01/03/2018,0:13:05
1,F,29,9218,137,01/03/2018,0:00:13,308,01/03/2018,0:18:34
2,F,30,3945,54,01/03/2018,0:00:17,191,01/03/2018,0:12:13
3,M,25,9971,130,01/03/2018,0:00:47,271,01/03/2018,0:12:40
4,M,20,10551,415,01/03/2018,0:00:56,433,01/03/2018,0:05:18
...,...,...,...,...,...,...,...,...,...
17104567,M,23,3934,74,30/08/2018,23:58:18,136,31/08/2018,0:07:22
17104568,M,36,11359,73,30/08/2018,23:58:44,162,31/08/2018,0:07:22
17104569,F,42,7296,128,30/08/2018,23:58:50,151,31/08/2018,0:06:43
17104570,M,32,11327,303,30/08/2018,23:59:23,287,31/08/2018,0:05:27
17104571,F,35,1886,137,30/08/2018,23:59:53,162,31/08/2018,0:12:19

In [23]:
df['fh_retiro'] = pd.to_datetime( df['Fecha_Retiro'].map( lambda x: x[-4:]+'-'+x[3:5]+'-'+x[:2]  ) + ' ' + 
                                  df['Hora_Retiro'].map(lambda x: '0'+x if len(x) == 7 else x ) , errors = 'coerce' )

In [24]:
df['fh_arribo'] = pd.to_datetime( df['Fecha_Arribo'].map( lambda x: x[-4:]+'-'+x[3:5]+'-'+x[:2]  ) + ' ' + 
                                  df['Hora_Arribo'].map(lambda x: '0'+x if len(x) == 7 else x ) ,  errors = 'coerce' )

In [ ]:
df = df.loc[ (~df.fh_retiro.isnull() )& (~df.fh_arribo.isnull() )].reset_index(drop=True).copy()

In [ ]:
df['Genero_Usuario'].value_counts(),  df['Genero_Usuario'].value_counts(True)

In [ ]:
df.shape

In [ ]:
cols = ['Bici','Genero_Usuario','Edad_Usuario','Ciclo_Estacion_Retiro','fh_retiro','Ciclo_Estacion_Arribo','fh_arribo']

In [ ]:
df[cols].head(5)

In [ ]:
df[cols].dtypes

In [ ]:
df.describe(percentiles=[0.01,0.99])

In [ ]:
df = df[cols].copy()

In [ ]:
df.head()

In [ ]:
cat_estaciones

In [ ]:
cat_estaciones.head()

In [ ]:
cat_estaciones.dtypes

In [ ]:
cat_estaciones['Colonia'].value_counts()

In [ ]:
cat_estaciones = cat_estaciones[['ID','Nombre','Dirección','Colonia','Tipo de estación','location/lat','location/lon']].copy()

In [ ]:
cat_estaciones.head()

In [ ]:
df.head()

In [ ]:
df.merge( cat_estaciones , left_on=['Ciclo_Estacion_Retiro'] , right_on=['ID'] , how='left' ).drop('ID',axis=1).reset_index(drop=True)

In [ ]:
pd.to_pickle(df,os.path.join( ruta , 'df_ecobici_G19.pkl' ) , protocol=4 )

In [ ]:
df = pd.read_pickle( os.path.join(ruta, 'df_ecobici_G19.pkl') )

# Gráficas simples

In [ ]:
aux = df.sample(n=10000).reset_index(drop=True)

In [ ]:
aux.shape

In [ ]:
aux.head()

In [ ]:
df_aux = df['fh_retiro'].map( lambda x: x.hour ).value_counts(True).sort_index()

In [ ]:
aux['fh_retiro'].map( lambda x: x.hour ).value_counts(True).sort_index().plot(kind='bar')

In [ ]:
df_aux.plot(kind='bar')

In [ ]:
aux['fh_retiro'].map(lambda x: x.hour).value_counts(True).sort_index().plot(marker='o')

In [ ]:
import cufflinks as cf
cf.go_offline()

In [ ]:
aux['fh_retiro'].map(lambda x: x.hour).value_counts(True).sort_index().iplot()

In [ ]:
aux['fh_retiro'].map(lambda x: x.hour).value_counts(True).sort_index().iplot(title='Ecobicis',
                                                                            xTitle='Horas',
                                                                            yTitle='% viajes',
                                                                            kind='scatter',
                                                                            mode='lines+markers')

In [ ]:
aux['fh_retiro'].map(lambda x: x.hour).value_counts(True).sort_index().iplot(title='Ecobicis',
                                                                            xTitle='Horas',
                                                                            yTitle='% viajes',
                                                                            kind='histogram',
                                                                            mode='lines+markers')

In [ ]:
aux['hr_retiro'] = aux['fh_retiro'].map(lambda x: x.hour)

In [ ]:
aux.iplot(kind="scatter",theme='white', x="hr_retiro",y="Edad_Usuario",categories='Genero_Usuario')